<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>選擇日期與時間</title>
  <meta content="選擇日期與時間" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="/demo/public/css/normalize.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/demo/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/demo/public/css/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="/demo/public/css/custom-datepicker.css" />
  <script src="/demo/public/js/webfont.js" type="text/javascript"></script>
  <script src="/demo/public/js/jquery.min.js"></script>
  <script src="/demo/public/js/bootstrap.min.js"></script>
  <script src="/demo/public/js/moment.min.js"></script>
  <script src="/demo/public/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="date-picker">
      <div class="form-group">
        <div class='input-group date' id='datetimepicker'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <button class="confirm confirm-disable">確定預約</button>
  </div>

  <script type="text/javascript">
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = function () {
      var buttonFlag = false;

      $('#datetimepicker').datetimepicker({
          debug: true,
          dayViewHeaderFormat: 'YYYY MMMM',
          format: 'YYYY/MM/DD HH:mm',
          icons: {
            up: 'glyphicon custom-icon-bg custom-up',
            down: 'glyphicon custom-icon-bg custom-down',
            next: 'glyphicon custom-icon custom-next',
            previous: 'glyphicon custom-icon custom-prev',
            time: 'glyphicon custom-icon-bg custom-icon-bg-gray custom-time',
            date: 'glyphicon custom-icon-bg custom-icon-bg-gray custom-date'
          }
      });
      $('.input-group-addon').click();

      $('.date-picker').css('height', $('.date-picker').height() - 44);
      $('.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour').css('top', '0');

      $('.confirm').on('click', function () {
        if (buttonFlag) {
          var type = '<%=type%>';
          var data = { date: $('.form-control').val() };
          if (type === 'service') {
            data.projectId = '<%=projectId%>';
          }
          $.post('/demo/api/<%=sender%>/datepicker/<%=type%>', data, function () {
            MessengerExtensions.requestCloseBrowser(null, null);
          });
        }
      });

      $('.custom-time').on('click', function () {
        buttonFlag = true;
        $('.confirm').removeClass('confirm-disable');
      });
    }
  </script>
</body>
</html>
