<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>人數選擇</title>
  <meta content="選擇人數" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="/demo/public/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/demo/public/css/weui.min.css" rel="stylesheet" type="text/css">
  <link href="/demo/public/css/custom-itempicker.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="page">
    <div class="page__bd page__bd_spacing">
      <a href="javascript:;" class="weui-btn weui-btn_default" id="showPicker">人數選擇</a>
    </div>
  </div>
  <script src="/demo/public/js/zepto.min.js"></script>
  <script src="/demo/public/js/jweixin-1.0.0.js"></script>
  <script src="/demo/public/js/weui.min.js"></script>
  <script type="text/javascript">
    var values = [
      { label: '1', value: 1 },
      { label: '2', value: 2 },
      { label: '3', value: 3 },
      { label: '4', value: 4 },
      { label: '5', value: 5 },
      { label: '6', value: 6 },
      { label: '7', value: 7 },
      { label: '8', value: 8 },
      { label: '9', value: 9 },
      { label: '10', value: 10 }
    ];
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = function () {
      $('#showPicker').on('click', function () {
        weui.picker(values, {
          onChange: function (result) {
          },
          onConfirm: function (result) {
            $.post('/demo/api/<%=sender%>/itempicker', { numbers: result[0].value }, function () {
              MessengerExtensions.requestCloseBrowser(null, null);
            });
          }
        });
      });
      $('#showPicker').click();
    }
</script>
</body>
</html>
