<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Nov 10 2017 10:38:48 GMT+0000 (UTC)  -->
<html data-wf-page="5a0580c8d7919e0001b56d33" data-wf-site="5a0182e8158a1d00010ff25a">
<head>
  <meta charset="utf-8">
  <title>訂金付款頁面</title>
  <meta content="訂金付款頁面" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="/demo/public/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/demo/public/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/demo/public/css/8-demo-webview.webflow.css" rel="stylesheet" type="text/css">
  <script src="/demo/public/js/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Varela Round:400"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="container w-container">
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form"><label for="name-2" class="title">付款方式</label>
        <div class="w-radio"><input type="radio" id="radio" name="radio" value="Radio" data-name="Radio" class="w-radio-input"><label for="radio" class="field-label w-form-label">線上金流（信用卡、網路ATM、自動櫃員機轉帳、超商代碼、超商條碼）</label></div><label for="email" class="title">房客資訊</label><input type="email" class="input w-input" maxlength="256" name="email" data-name="email" placeholder="電子郵件" id="email"><input type="text" class="input w-input" maxlength="256" name="phone" data-name="phone" placeholder="聯絡電話" id="phone"><input type="text" class="input w-input" maxlength="256" name="name" data-name="name" placeholder="姓名" id="name"><label for="email" class="title">發票資訊</label>
        <div class="w-radio"><input type="radio" id="radio-2" name="radio" value="Radio" data-name="Radio 2" class="w-radio-input"><label for="radio-2" class="field-label w-form-label">二聯式</label></div>
        <div class="w-radio"><input type="radio" id="radio-3" name="radio" value="Radio" data-name="Radio 2" class="w-radio-input"><label for="radio-3" class="field-label w-form-label">三聯式</label></div>
        <div class="div24"></div>
        <div class="payment">
          <div class="button green">付款去</div>
        </div>
      </form>
      <div class="succes-bg w-form-done">
        <div class="text-block">您的付款已經成功</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
    <div class="center text">本頁為民宿預訂流程示範，不會產生真實的訂單，請放心操作體驗</div>
    <div class="div24"></div>
  </div>
  <script src="/demo/public/js/jquery.min.js"></script>
  <script src="/demo/public/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = function () {
      $('.payment').on('click', function () {
        $.post('/demo/api/<%=sender%>/payment-villa', {}, function () {
          MessengerExtensions.requestCloseBrowser(null, null);
        });
      });
    }
  </script>
</body>
</html>
