<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>日期選擇</title>
  <meta content="日期選擇" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/weui/1.1.2/style/weui.min.css" rel="stylesheet" type="text/css">
  <style>
    .page {
      display: none;
    }
    .weui-picker__action {
        color: #000000;
    }
    .weui-picker__hd a:first-child {
        display: none;
    }
    .weui-picker__hd a {
        color: #0084FF;
    }
  </style>
</head>
<body>
  <div class="page">
    <div class="page__bd page__bd_spacing">
      <a href="javascript:;" class="weui-btn weui-btn_default" id="multiPickerBtn">日期選擇</a>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
  <script type="text/javascript">
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.extAsyncInit = function () {
      $('#multiPickerBtn').on('click', function () {
        weui.datePicker({
          start: 1911,
          end: 2017,
          defaultValue: [1990, 1, 1],
          onChange: function (result) {
          },
          onConfirm: function (result) {
            MessengerExtensions.requestCloseBrowser(null, null);
          }
        });
      });
      $('#multiPickerBtn').click();
      $('#weui-picker-confirm').text('確認');
    }
</script>
</body>
</html>
