<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Nov 10 2017 03:35:50 GMT+0000 (UTC)  -->
<html data-wf-page="5a051a59d7919e0001b5332b" data-wf-site="5a0182e8158a1d00010ff25a">
<head>
  <meta charset="utf-8">
  <title>無毒無籽檸檬 (大箱)</title>
  <meta content="無毒無籽檸檬 (大箱)" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="/demo/public/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/demo/public/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/demo/public/css/8-demo-webview.webflow.css" rel="stylesheet" type="text/css">
  <script src="/demo/public/js/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Varela Round:400"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="container w-container">
    <img src="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product004.JPG" srcset="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product004.JPG 500w, https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product004.JPG 800w, https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product004.JPG 1024w" sizes="(max-width: 767px) 93vw, (max-width: 991px) 728px, 940px" class="image">
    <div class="text title">無毒無籽檸檬 (大箱)</div>
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form">
        <select id="field" name="field" class="input select w-select">
          <option value="1">選擇數量</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <div class="line"></div>
        <div class="w-row">
          <div class="w-col w-col-7 w-col-small-6 w-col-tiny-6">
            <div class="subtitle text">商品金額</div>
          </div>
          <div class="w-col w-col-5 w-col-small-6 w-col-tiny-6">
            <div class="medium pricing">NT$ <span id="subtotal">700</span></div>
          </div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-7 w-col-small-6 w-col-tiny-6">
            <div class="subtitle text">物流費用</div>
          </div>
          <div class="w-col w-col-5 w-col-small-6 w-col-tiny-6">
            <div class="pricing small">NT$ 0</div>
          </div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-7 w-col-small-6 w-col-tiny-6">
            <div class="subtitle text">總計金額</div>
          </div>
          <div class="w-col w-col-5 w-col-small-6 w-col-tiny-6">
            <div class="pricing">NT$ <span id="totalprice">700</span></div>
          </div>
        </div>
        <div class="div24"></div>
        <div class="payment">
          <div href="/demo/webview/<%=sender%>/payment">
            <div class="button green">付款去</div>
          </div>
        </div>
        </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
    <div class="center text">本頁為購物流程示範，不會產生真實的訂單，請放心操作體驗</div>
    <div class="line"></div>
    <img src="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product001.JPG" srcset="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product001-p-800.jpeg 800w, https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product001.JPG 1024w" sizes="(max-width: 767px) 93vw, (max-width: 991px) 728px, 940px" class="image">
    <img src="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product002.JPG" srcset="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product002-p-500.jpeg 500w, https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product002-p-800.jpeg 800w, https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product002.JPG 1024w" sizes="(max-width: 767px) 93vw, (max-width: 991px) 728px, 940px" class="image">
    <img src="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product003.JPG" srcset="https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product003-p-500.jpeg 500w, https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product003-p-800.jpeg 800w, https://demo-addon-service-u2vu4wyai3.no8.io/public/images/product003.JPG 1024w" sizes="(max-width: 767px) 93vw, (max-width: 991px) 728px, 940px" class="image">
    <div class="title">商品介紹</div>
    <div class="subtitle text">無籽檸檬內側的白皮較薄，不會苦澀，檸檬香十足～很適合作為檸檬水喝喔！ 無農藥殘留，連果皮都能安心食用！ 富含維生素C，助於膠原蛋白形成與鈣質吸收！（10台斤±10%/箱）
    </div>
    <div class="line"></div>
    <div class="title">食用方法</div>
    <div class="subtitle text">1. 檸檬水：檸檬連皮切片，對 1000cc 水，可以依照個人喜好加蜂蜜🍹<br>2. 糖漬檸檬片：把檸檬洗乾淨，記得要將水份擦乾。檸檬切成薄片後放進容器，加入糯米醋、冰糖和檸檬，比例約為 6:8:10，靜置 1 年後，檸檬片會慢慢轉黑，就完成囉🍋</div>
    <div class="line"></div>
    <div class="title">原產地</div>
    <div class="subtitle text">台南東山</div>
    <div class="line"></div>
    <div class="title">保存期限</div>
    <div class="subtitle text">常溫保存，冷藏可放一個月</div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="/demo/public/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <script>
    $('#field').on('change', function (e) {
      var multi = $(this).val();
      var unitPrice = 700;
      $('#subtotal').text(unitPrice * multi);
      $('#totalprice').text(unitPrice * multi);
    });
    $('.payment').on('click', function (e) {
      window.location.href = '/demo/webview/<%=sender%>/payment';
    });
  </script>
</body>
</html>
