.container {
  padding-top: 44px;
  padding-bottom: 44px;
}

.title {
  margin-top: 24px;
  font-family: 'Varela Round', sans-serif;
  color: #9cc100;
}

.input {
  height: 48px;
  margin-bottom: 16px;
  padding: 12px 24px;
  border: 1px solid #2a394d;
  border-radius: 24px;
  font-family: 'Varela Round', sans-serif;
  color: #2a394d;
  text-align: center;
  letter-spacing: 0.6px;
}

.input:focus {
  border-width: 2px;
}

.input.select {
  margin-top: 16px;
}

.input.select:focus {
  border-width: 1px;
}

.button {
  display: block;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 24px;
  border: 1px solid #2a394d;
  border-radius: 24px;
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
  color: #2a394d;
  font-weight: 400;
}

.button:hover {
  background-color: #2a394d;
  color: #fff;
}

.button.green {
  border-style: none;
  background-color: #b5d100;
  color: #fff;
  letter-spacing: 1px;
}

.button.green:hover {
  background-color: #9cc100;
}

.field-label {
  font-family: 'Varela Round', sans-serif;
  color: #212121;
  letter-spacing: 0.6px;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.line {
  display: block;
  height: 1px;
  margin: 24px auto 16px;
  background-color: #e0e0e0;
}

.pricing {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Varela Round', sans-serif;
  color: #9cc100;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.pricing.small {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 400;
}

.pricing.medium {
  color: #4c4c4c;
  font-size: 20px;
  font-weight: 400;
}

.text {
  font-family: 'Varela Round', sans-serif;
  color: #757575;
}

.text.title {
  margin-bottom: 24px;
  color: #ceb038;
  font-size: 36px;
  line-height: 43px;
}

.text.subtitle {
  margin-top: 16px;
}

.text.center {
  padding-right: 24px;
  padding-left: 24px;
  color: #bdbdbd;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.4px;
}

.div24 {
  height: 24px;
}

.succes-bg {
  border-radius: 12px;
  background-color: #efefef;
  color: #fff;
}

.text-block {
  color: #989898;
}

@media (max-width: 767px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .text.title {
    font-size: 28px;
  }
}

@media (max-width: 479px) {
  .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .button {
    width: 100%;
  }
  .text.title {
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 22px;
  }
}

.payment {
  text-align: center;
}

.payment a {
  display: inline-block;
  text-decoration: none;
}

.payment a div {
  text-align: center;
  width: 8em;
  padding-top: 15px;
}
