.container {
  padding: 0;
  margin: 0;
}

.form-group {
  margin: 0;
  height: 100%;
}

.input-group-addon {
  display: none;
}

.input-group.date {
  height: 100%;
}

.input-group.date .form-control {
  display: none;
}

.input-group.date .list-unstyled {
  height: 100%;
}

.date-picker {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.confirm {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  background-color: #0084FF;
  color: #FFFFFF;
  border-radius: 2px;
}

.confirm-disable {
  opacity: .5;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 0;
  width: 100vw;
  height: 100%;
  position: relative;
  box-shadow: none;
}

.collapse.in {
  height: 60vh;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
  content: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  content: none;
}

.custom-icon {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-next {
  background-image: url('../images/icon-arrow_next.png');
}

.custom-prev {
  background-image: url('../images/icon-arrow_pre.png');
}

.custom-icon-bg-gray {
  background-color: #eeeeee;
}

.custom-icon-bg::before {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  position: absolute;
  left: 0;
}

.custom-time::before {
  background-image: url('../images/icon-time.png');
}

.custom-date::before {
  background-image: url('../images/icon-date.png');
}

.custom-up::before {
  background-image: url('../images/icon-arrow_up.png');
}

.custom-down::before {
  background-image: url('../images/icon-arrow_down.png');
}

.bootstrap-datetimepicker-widget table th.prev {
  width: 24px;
  height: 24px;
  line-height: 1;
  padding: 0;
}

.bootstrap-datetimepicker-widget table th.next {
  width: 24px;
  height: 24px;
  padding: 0;
}

.bootstrap-datetimepicker-widget table td.day {
  background-color: #FFFFFF;
  color: #000000;
  height: 2vh;
  line-height: 2vh;
  width: 5vw;
}

.bootstrap-datetimepicker-widget table td.active {
  background-color: #0084FF;
  color: #000000;
}

.bootstrap-datetimepicker-widget table td.day:hover {
  background-color: #0084FF;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
  width: 99%;
}

.bootstrap-datetimepicker-widget table td {
  height: 10vh;
  line-height: 10vh;
}

.bootstrap-datetimepicker-widget table td span {
  height: 10vh;
  line-height: 10vh;
}


