.page {
    display: none;
}

.weui-picker__action {
    color: #000000;
}

.weui-picker__hd a:first-child {
    display: none;
}

.weui-picker__hd a {
    color: #0084FF;
}

.weui-picker.weui-animate-slide-up .weui-picker__hd:first-child {
    padding-top: 15px;
}

.weui-picker.weui-animate-slide-up {
    height: 100vh;
}

.weui-picker.weui-animate-slide-up .weui-picker__bd:nth-child(2) {
    height: 100%;
}
