<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>要保書已準備完畢</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <!-- 引入 LIFF sdk -->
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  </head>
  <body>
    <!-- 使用 WeUI -->
    <div class="weui-msg">
      <div class="weui-msg__icon-area">
        <img src='../public/images/pdf.png' style='height:128px;'/>
      </div>
      <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">要保書已準備完畢</h2>
        <p class="weui-msg__desc">
          文字文字文字文字文字文字文字文字文字文字<br>
          文字文字文字文字文字文字文字文字文字文字<br>
          文字文字文字文字文字文字文字文字文字文字<br>
          文字文字文字文字文字文字文字文字文字文字<br>
          文字文字文字文字文字文字文字<br>
          <a href="javascript:void(0);">文字文字文字</a><br>
        </p>
      </div>
      <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
          <a href="javascript:downloadPdf()" class="weui-btn weui-btn_primary">點我下載</a>
          <a href="javascript:closeLiffApp()" class="weui-btn weui-btn_default">完成</a>
        </p>
      </div>
      <div class="weui-msg__extra-area">
        <div class="weui-footer">
          <p class="weui-footer__links">
            <a href="https://no8.ai/" class="weui-footer__link">文字文字文字文字</a>
          </p>
          <p class="weui-footer__text">Copyright 2018 © 雲發互動科技有限公司 8 Interactive</p>
        </div>
      </div>
    </div>
    <div id='alert' style="display: none;">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">發生了一些問題</strong></div>
        <div class="weui-dialog__bd">請關閉視窗並確認您透過 LINE 開啟</div>
        <div class="weui-dialog__ft">
          <a href="javascript:ack();" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
      </div>
    </div>
  </body>
  <script>
    var alertRef = document.querySelector('#alert'), ready = undefined, user8 = '<%=user8%>';
    liff.init(
      data => {
        ready = data;
      },
      err => {
        ready = err; // LIFF initialization failed
        return syn();
      }
    );
    function closeLiffApp() {
      if (available(closeLiffApp) !== false) {
        return;
      }
      liff.closeWindow();
    }
    function downloadPdf() {
      if (available(closeLiffApp) !== false) {
        return;
      }
      const params = {
        url: 'https://downloads.no8.io/nanshanprops/contract.pdf',
        external: true
      };
      liff.openWindow(params);
    }
    function available(self) {
      if (ready === undefined) {
        return setTimeout(self, 200);
      }
      if (ready.code === 'INTERNAL_ERROR') {
        return syn(); // LIFF init failed
      }
      if (ready.code === 'INIT_FAILED') {
        return syn(); // not a LIFF env
      }
      return false;
    }
    function syn() {
      alertRef.style.display = 'block';
    }
    function ack() {
      alertRef.style.display = 'none';
    }
  </script>
</html>
