<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>填寫要保書資料</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <script src="//res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    <!-- 引入 LIFF sdk -->
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  </head>
  <body style="display: flex; flex-direction: column; height: calc(100vh);">
    <!-- 使用 WeUI -->
    <div style="padding-bottom: 40px;">
      <div class="weui-cells__title" style="color: black; font-size: 20px; margin-bottom: 16px;">填寫要保書資料</div>
      <div class="weui-cells__title">投保人資料</div>
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">身分證字號</label>
          </div>
          <div class="weui-cell__bd">
            <input name='aid' class="weui-input" type="text" placeholder="請輸入身分證字號" />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
          </div>
          <div class="weui-cell__bd">
            <input name='iden' class="weui-input" type="text" placeholder="投保人名稱" />
          </div>
        </div>
        <div class="weui-cells__title">電話</div>
        <div class="weui-cell weui-cell_select weui-cell_select-before">
          <div class="weui-cell__hd">
            <select class="weui-select" name="select2">
              <option value="1">+886</option>
              <option value="2">+01</option>
            </select>
          </div>
          <div class="weui-cell__bd">
            <input name='phone' class="weui-input" type="number" pattern="[0-9]*" placeholder="請輸入號碼" />
          </div>
        </div>
        <div class="weui-cell" id="uploader">
          <div class="weui-cell__bd">
            <div class="weui-uploader">
              <div class="weui-uploader__hd">
                <p class="weui-uploader__title">上傳附件</p>
              </div>
              <div class="weui-uploader__bd">
                <ul class="weui-uploader__files" id="uploaderFiles">
                </ul>
                <div class="weui-uploader__input-box">
                  <input name='media' id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="weui-cells__tips">说明文字说明文字说明文字说明文字</div>
      <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:closeLiffApp()" id="showTooltips">确定</a>
      </div>
    </div>
    <div style='width: 100%; text-align: center; margin-bottom: 15px; display: flex; flex-direction: row; flex: 1 auto; align-items: flex-end; padding-top: 16px'>
      <div class="weui-footer" style="width: 100%">
        <p class="weui-footer__links">
          <a href="https://no8.ai/" class="weui-footer__link">文字文字文字文字</a>
        </p>
        <p class="weui-footer__text">Copyright 2018 © 雲發互動科技有限公司 8 Interactive</p>
      </div>
    </div>
    <div id='alert' style="display: none;">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">發生了一些問題</strong></div>
        <div class="weui-dialog__bd">請關閉視窗並確認您透過 LINE 開啟</div>
        <div class="weui-dialog__ft">
          <a href="javascript:ack();" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
      </div>
    </div>
  </body>
  <script>
    var inputRefs = document.querySelectorAll('input'),
      viewRef = document.querySelector('#uploaderFiles'),
      alertRef = document.querySelector('#alert'),
      uploadList = [],
      ready = undefined,
      user8 = '<%=user8%>';
    liff.init(
      data => {
        // LIFF initialization
        ready = data;
      },
      err => {
        // LIFF initialization failed
        ready = err;
        return syn();
      }
    );
    weui.uploader('#uploader', {
      url: '/upload',
      auto: true,
      type: 'file',
      fileVal: 'fileVal',
      compress: {
        width: 1600,
        height: 1600,
        quality: .8
      },
      onBeforeQueued: function (files) {
        if (files.length > 3) {
          debugger;
        }
      },
      onQueued: function() {
        uploadList.push(this);
      },
      onSuccess: function onSuccess(ret) {
        this.uri = ret.url;
      },
      onError: function onError(err) {
        debugger;
      }
    });
    viewRef.addEventListener('click', function (e) {
      var target = e.target;
      while (!target.classList.contains('weui-uploader__file') && target) {
        target = target.parentNode;
      }
      if (!target) {
        return; // nothing to do
      }
      var url = target.getAttribute('style') || '';
      var id = target.getAttribute('data-id');
      if (url) {
        url = url.match(/url\((.*?)\)/)[1].replace(/"/g, '');
      }
      var gallery = weui.gallery(url, {
        className: 'custom-name',
        onDelete: function () {
          weui.confirm('确定删除该图片？', function () {
            for (var i = 0, len = uploadList.length; i < len; ++i) {
              var file = uploadList[i];
              if (file.id == id) {
                file.stop();
                uploadList.splice(i);
                break;
              }
            }
            target.remove();
            gallery.hide();
          });
        }
      });
    });
    async function closeLiffApp() {
      if (available(closeLiffApp) !== false) {
        return;
      }
      var urls = uploadList.map(file => ('- ' + file.uri));
      var text = [
        '[要保書請求資料]',
        '- 身分證字號: ' + inputRefs[0].value,
        '- 姓名: ' + inputRefs[1].value,
        '- 電話: ' + inputRefs[2].value,
        '[附件]',
      ].concat(urls);
      var messages = [
        {
          type: 'text',
          text: text.join('\n')
        }
      ];
      await liff.sendMessages(messages);
      liff.closeWindow();
    }
    function available(self) {
      if (ready === undefined) {
        return setTimeout(self, 200);
      }
      if (ready.code === 'INTERNAL_ERROR') {
        return syn(); // LIFF init failed
      }
      if (ready.code === 'INIT_FAILED') {
        return syn(); // not a LIFF env
      }
      return false;
    }
    function syn() {
      alertRef.style.display = 'block';
    }
    function ack() {
      alertRef.style.display = 'none';
    }
  </script>
</html>
