<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>員工綁定</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css"/>
    <script src="//res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
    <!-- 引入 LIFF sdk -->
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
  </head>
  <body style="display: flex; flex-direction: column; height: calc(100vh);">
    <!-- 使用 WeUI -->
    <div style="padding-bottom: 40px;">
      <div class="weui-cells__title" style="color: black; font-size: 20px; margin-bottom: 16px;">企業員工登入綁定</div>
      <div class="weui-cells__title">登入資訊</div>
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
          </div>
          <div class="weui-cell__bd">
            <input name='name' class="weui-input" type="text" placeholder="請輸入員工姓名" />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">編號</label>
          </div>
          <div class="weui-cell__bd">
            <input name='eid' class="weui-input" type="number" pattern="[0-9]*" placeholder="請輸入員工編號" />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">密碼</label>
          </div>
          <div class="weui-cell__bd">
            <input name='passwd' class="weui-input" type="password" placeholder="請輸入員工密碼" />
          </div>
        </div>
      </div>
      <div class="weui-cells__tips">说明文字说明文字说明文字说明文字</div>
      <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:closeLiffApp()" id="showTooltips">确定</a>
      </div>
    </div>
    <div style='width: 100%; text-align: center; margin-bottom: 15px; display: flex; flex-direction: row; flex: 1 auto; align-items: flex-end; padding-top: 16px'>
      <div class="weui-footer" style="width: 100%">
        <p class="weui-footer__links">
          <a href="https://no8.ai/" class="weui-footer__link">文字文字文字文字</a>
        </p>
        <p class="weui-footer__text">Copyright 2018 © 雲發互動科技有限公司 8 Interactive</p>
      </div>
    </div>
    <div id='alert' style="display: none;">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">發生了一些問題</strong></div>
        <div class="weui-dialog__bd">請關閉視窗並確認您透過 LINE 開啟</div>
        <div class="weui-dialog__ft">
          <a href="javascript:ack();" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
        </div>
      </div>
    </div>
  </body>
  <script>
    var inputRefs = document.querySelectorAll('input'),
      alertRef = document.querySelector('#alert'),
      ready = undefined,
      user8 = '<%=user8%>';

    liff.init(
      async (data) => {
        // LIFF initialization
        ready = data;
        inputRefs[0].value = (await liff.getProfile()).displayName;
      },
      err => {
        // LIFF initialization failed
        ready = err;
        return syn();
      }
    );
    async function closeLiffApp() {
      if (available(closeLiffApp) !== false) {
        return;
      }
      var messages = [
        {
          type: 'text',
          text: '[員工][綁定] - ' + inputRefs[0].value + ' - ' + inputRefs[1].value
        }
      ];
      await liff.sendMessages(messages);
      liff.closeWindow();
    }
    function available(self) {
      if (ready === undefined) {
        return setTimeout(self, 200);
      }
      if (ready.code === 'INTERNAL_ERROR') {
        return syn(); // LIFF init failed
      }
      if (ready.code === 'INIT_FAILED') {
        return syn(); // not a LIFF env
      }
      return false;
    }
    function syn() {
      alertRef.style.display = 'block';
    }
    function ack() {
      alertRef.style.display = 'none';
    }
  </script>
</html>
